// В этом файле должны быть стили для БЭМ-блока header-top, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header-top {

  $block-name:                &; // #{$block-name}__element

  background: #eeeeee;
  color: #727272;
  font-size: 14px;
  padding: 7px 70px;

  &__inner {
    // @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}
