// В этом файле должны быть стили для БЭМ-блока m-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.m-card {

  $block-name:                &; // #{$block-name}__element

  &__link {
    display: block;
    color: inherit;
    text-decoration: none;
    text-align: center;

    &:hover,
    &:focus {
      color: $color-main;

      #{$block-name}__icon {
        fill: $color-main;
      }
    }
  }
  &__icon {
    display: block;
    margin: auto;
    margin-bottom: 25px;
  }
  &__title {
    display: block;
    font-size: 16px;
    line-height: 1.4;
  }
}
