// В этом файле должны быть стили для БЭМ-блока contacts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contacts {

  $block-name:                &; // #{$block-name}__element

  @include row;

  margin-bottom: 20px;

  &__info {
    @include make-col(5);
  }
  &__photo {
    @include make-col(7);
  }

  &__item {
    margin-bottom: 25px;
    p {
      margin: 0;
    }
  }
  &__item-title {
    text-transform: uppercase;
  }
}
