// В этом файле должны быть стили для БЭМ-блока p-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.p-card {

  $block-name:                &; // #{$block-name}__element

  .card-image {
    background-size: cover;
    width: 100%;
    padding-bottom: 65%;
  }
  .card-body {
    background: #fff;
    padding: 15px 0;
  }
  .card-title {
    font-size: 16px;
    line-height: 24px;
  }
  .card-caption {
  }

}
