// В этом файле должны быть стили для БЭМ-блока header-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header-nav {

  $block-name:                &; // #{$block-name}__element

  background: #fff;
  padding: 20px 70px;

  &__inner {
    // @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: 175px;
  }

}
