// В этом файле должны быть стили для БЭМ-блока clients, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.clients {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {}
  &__logo {}

}
